*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-image: url(./background_log.jpg);
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    height: 60vh;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
    font-size: larger;
    backdrop-filter: blur(10px);
}
input{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 10px;
    background-color: transparent;
    color: gold;
    font-size: larger;
}
.button1{
    margin-top: 10px;
    
    padding: 10px;
    background-color: transparent;
   
    text-align: center;
   
}
.button1 button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    box-shadow: 1.5px 1px 1px 2px  white;
    font-size: larger;
    
}
label{
    text-align: start;
    margin-left: 10px;
    font-size: x-large;
}
::placeholder{
    color: white;
    font-size: larger;
}